@model PrecoCerto.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<!---------------------------------------------------------------- Cabeçalho --------------------------------------------------------------------->

<section class="breadscrumb-section pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadscrumb-contain">
                    <h2>Cadastro</h2>
                    <nav>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a asp-area=""  asp-controller="Home" asp-action="Index">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z" />
                                    </svg>
                                </a>
                            </li>
                            <li aria-current="page">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short icon-margin" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                                </svg>Cadastro
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<!------------------------------------------------------------------------------------------------------------------------------------------------>

<!---------------------------------------------------------------- Cadastro ---------------------------------------------------------------------->

<section class="log-in-section section-b-space">
    <div class="container-fluid w-100">
        <div class="row">
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="~/img/sign-up.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                <div class="log-in-box">
                    <div class="log-in-title">
                        <h3> Bem-vindo ao Preço Certo </h3>
                        <h4> Criar nova conta </h4>
                    </div>

                    <div class="input-box">
                        <form asp-action="Create" class="row g-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input asp-for="Nome" class="form-control" id="fullname" placeholder="Nome" />
                                        <label asp-for="Nome"></label>
                                        <span asp-validation-for="Nome" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input asp-for="Email" class="form-control" id="email" placeholder="Email" />
                                        <label asp-for="Email"></label>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input asp-for="Senha" class="form-control" id="password" placeholder="Senha" />
                                        <label asp-for="Senha" class="control-label"></label>
                                        <span asp-validation-for="Senha" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input asp-for="Endereco" class="form-control" id="Endereco" placeholder="Endereço" />
                                        <label asp-for="Endereco"></label>
                                        <span asp-validation-for="Endereco" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input asp-for="Telefone" class="form-control" id="Telefone" placeholder="Telefone" />
                                        <label asp-for="Telefone"></label>
                                        <span asp-validation-for="Telefone" class="text-danger"></span>
                                    </div>
                                </div>
                           
                                <div class="col-12">
                                    <div class="forgot-box">
                                        <div class="form-check ps-0 m-0 remember-box">
                                            <input class="checkbox_animated check-box" type="checkbox" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Eu concordo com <span> Termos </span> de <span> Privacidade </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            <div class="col-12">
                                <input type="submit" value="Inscrever-se" class="btn btn-animation w-100" />
                            </div>
                        </form>
                    </div>

                    <div class="other-log-in">
                        <h6></h6>
                    </div>

                    <div class="sign-up-box">
                        <h4>
                            Já tem uma conta?
                        </h4>
                        <a asp-area="" asp-controller="Usuarios" asp-action="Login">Conecte-se</a>
                    </div>
                </div>
            </div>

            <div class="col-xxl-7 col-xl-6 col-lg-6"></div>
        </div>
    </div>
</section>

<!------------------------------------------------------------------------------------------------------------------------------------------------>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
